body {
    font-family: "Segoe UI";
    background-color: #041e42;
    -moz-transform: scale(1.25);
    zoom: 125%;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

#name {
    display: inline-block;
}

h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 400;
}

h3 {
    margin-top: 0px;
    font-weight: 400;
    letter-spacing: 1px;
}

#logo {
    margin-left: 25px;
    max-width: 200px;
    float: right;
}

    #logo img {
        margin-top: 15px;
        width: 100%;
    }



#jannsennLogo {
    margin-left: 25px;
    max-width: 200px;
    float: right;
}


    #jannsennLogo img {
        margin-top: 15px;
        width: 100%;
    }
    /* .NavBar {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    text-transform: uppercase;
    font-size: 12px;
    margin: auto;
    text-align: center;
} */
    .dropdownContent {
        /* width: 100%;
    padding: 0; */
        display: none;
    }

.display {
    display: block;
}

.dropdownContent li {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

    .dropdownContent li a {
        color: black;
        text-decoration: none;
    }

.active {
    font-weight: bold;
}

#mainimg {
    width: 100%;
    height: 300px;
    /*margin-top: 20px;*/
}

    #mainimg img {
        width: 100%;
        object-fit: cover;
        height: 300px;
        border-radius: 5px;
    }

.content {
    display: grid;
    grid-template-columns: 67% 33%;
    margin-top: 20px;
}


#left {
    grid-column: 1/2;
    padding-right: 15px;
}

    #left h4 {
        margin-top: 0px;
        font-weight: 400;
        font-size: 24px;
    }

#right {
    font-size: 13px;
    grid-column: 2/3;
    border-left: 1px solid grey;
    padding-left: 15px;
    display: block;
}

    #right h5 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    #right p {
        margin: 3px 0;
    }

        #right p a {
            color: black;
            text-decoration: none;
        }

            #right p a:hover {
                text-decoration: underline;
            }

address {
    margin-top: 15px;
    margin-bottom: 20px;
}

    address a {
        text-decoration: none;
        color: black;
    }

        address a:hover {
            text-decoration: underline;
        }

footer {
    max-width: 900px;
    margin: 20px auto;
    color: white;
    font-weight: 100;
    font-size: 13px;
    text-align: center;
}

@media (max-width: 1200px) {
    body {
        -moz-transform: scale(1); /* for Firefox, default 1*/
        zoom: 100%; /* For Chrome, IE, default 100%*/
    }
}

#additionals {
    display: grid;
    grid-template-columns: auto;
    margin-top: 45px;
}

ul {
    padding-left: 10px
}

#interests {
    grid-column: 1/2;
}

#education {
    grid-column: 2/2;
}

@media (max-width: 650px) {

    #additionals {
        display: block;
    }

    .container {
        padding: 20px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-weight: 400;
        font-size: 30px;
    }

    h3 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 18px;
    }

    .NavBar {
        display: inline-block;
        border: 1px solid grey;
        float: right;
        position: relative;
        margin: 0;
        border-radius: 5px;
        padding: 3px 5px;
        text-transform: uppercase;
    }

    .menuLine {
        width: 20px;
        margin: 4px auto;
        border-top: 1px solid grey;
    }

    .dropdownContent {
        margin-top: 1px;
        background-color: white;
        z-index: 1;
        position: absolute;
        right: 0px;
        top: 25px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 10px;
        width: 200px;
        font-size: 14px;
    }

        .dropdownContent li {
            margin: 10px;
            text-align: right;
        }

    .NavBar p {
        margin: 5px;
    }

    #logo {
        display: none;
    }

    .dropdownContent li {
        display: list-item;
    }

    .content {
        display: block;
    }

    #right {
        padding-left: 0;
        border-left: 0;
        border-top: 1px solid grey;
        display: grid;
    }
}

@media (max-width: 400px) {
    #right {
        display: block;
        padding-left: 10px;
    }

    header {
        display: block
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 14px;
    }

    .NavBar {
        margin: 15px auto;
    }

    #mainimg {
        width: 100%;
        height: 180px;
        margin-top: 20px;
    }

        #mainimg img {
            width: 100%;
            object-fit: cover;
            height: 180px;
            border-radius: 5px;
        }
}


@media (min-width: 650px) {
    .NavBar {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        text-transform: uppercase;
        font-size: 12px;
        display: block;
        width: 100%;
    }

        .NavBar p {
            display: none;
        }

    .dropdownContent {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .NavBar:hover .dropdownContent {
        display: flex;
        justify-content: space-between;
    }

    .dropdownContent li {
        list-style-type: none;
        display: inline;
        text-decoration: none;
    }

        .dropdownContent li a {
            color: black;
            text-decoration: none;
        }

    .active {
        font-weight: bold;
    }

    .dropdownContent li:hover {
        text-decoration: underline;
    }
}
